.nav-row {
  font-family: 'Raleway', sans-serif;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  background-color: #3FB3E8;
  height: 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-row a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
