.chart-bar {
  height: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.chart-bar__fill {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  background-color: #4826b9;
  height: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  padding: 10px;
  font-size: 0.8rem;
  text-align: center;
}
